@{
    ViewBag.Title = "新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function sub() {
        if ($("#key").val() == "") {
            alert("请填写名称")
            return false;
        }
        if ($("#value").val() == "") {
            alert("请填写value");
            return false;
        }
        if ($("#remark").val() == "") {
            alert("请填写备注");
            return false;
        }
    }
</script>
<div class="head">
    <div class="title">
        新增配置
    </div>
</div>
<div>
    @using (Html.BeginForm("Add", "Config", FormMethod.Post, new { enctype = "multipart/form-data", @onsubmit = "return sub()" }))
    {
    <ul class="mydetail">
        <li>
            <label>key</label><input  type="text" id="key" name="key" />
        </li>
        <li>
            <label>value</label><textarea id="value" name="value"  style="height:300px; width:500px;"></textarea>
        </li>
        <li>
            <label>备注</label><textarea id="remark" name="remark"  style="height:200px; width:500px;"></textarea>
        </li>
        <li>
            <input type="submit" class="btn1" value="提交" />@Html.ValidationMessage("Error")
        </li>
    </ul>
    }
</div>
